* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.ui.cards > .card > .image {
  height: 250px;
  padding: 20px;
  background: #fff;
  margin: auto;
}
.ui.cards > .card > .image > img {
  height: 100%;
  max-width: 100%;
  width: auto;
}
.ui.cards > .card > .content > .header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
}
.ui.cards > .card > .content > .description {
  height: 36px;
  margin-bottom: 0px;
  overflow: hidden;
}
.ui.cards > .card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.ui.cards > .card .meta.price > a {
  font-size: 1.3rem;
  color: #222;
}

.ui.menu.fixed {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui.grid.container {
  margin-top: 45px;
}

.ui.grid > .row {
  background: #fff;
}
.ui.grid > .row > .column.lp {
  padding: 20px 40px 20px 20px;
  align-self: flex-start !important;
}
.ui.grid > .row > .column.rp {
  padding: 20px 20px 20px 40px;
  text-align: left;
  align-self: flex-start !important;
}

.ui.grid > .row > .column > img,
.ui.grid > .row > img {
  height: 100%;
}
.ui.placeholder .header:not(:first-child):before,
.ui.placeholder .image:not(:first-child):before,
.ui.placeholder .paragraph:not(:first-child):before {
  display: none;
}

.ui.label,
.ui.labels .label {
  font-size: 22px;
}

.column.rp h1 {
  color: #333;
}
.column.rp p {
  font-size: 18px;
  color: #777;
}
.ui.placeholder.segment .column .button,
.ui.placeholder.segment .column .field,
.ui.placeholder.segment .column textarea,
.ui.placeholder.segment .column > .ui.input {
  background-color: #ff3e6c;
  border: 1px solid #ff3e6c;
  color: #fff;
  font-size: 18px;
  margin-left: 0;
}
.cart-btn {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 24px;
  padding: 18px 12px;
  height: 24px;
  background-color: transparent;
  border: 2px solid lightgray;
}

.cart-quantity {
  position: absolute;
  top: 0px;
  right: -4px;
  background-color: orangered;
  color: whitesmoke;
  border-radius: 50%;
  padding: 2px 4px;
  font-size: 12px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
}

.cartItem {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 100%;
  margin: 8px;
  gap:10px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.cartItem:hover {
  background-color: #f5f5f5;
}

.cart-actions{
  flex:1;
}
.cart-single-item-price,.cart-item-quantity,.cart-item-total{
  flex:2;
}

.cart-item-quantity{
  text-align: center;
}

.cart-single-item-price,.cart-item-total{
  text-align: right;
}

.cartItemTitle {
  margin-bottom: 8px;
  width: 50%; 
  overflow: hidden;
  margin-right: 12px;
}

.cart-actions {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin: 0 8px;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}

.cart-actions:hover {
  background-color: #2980b9;
}

.cart-actions:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.cart-actions + p {
  margin: 0 8px;
}

.cartItemTitle strong {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cart-total {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 16px;
  text-align: right;
}
